<!DOCTYPE html>
<html>

<head>
  <title> Comments | Hacker-News </title>
  <% include head %>
</head>

<body>
  <% include navbar %>

  <div class="box">
   <div id="cv1"><a href="<%= parsedData.URL %>" target="_blank"> ₪ <%= parsedData.title %> </a></div>
    <div id="cv2"> <%= parsedData.body %><br /><%= parsedData.vote %> points by <%= parsedData.by %> <a href="/comment/view/<%= parsedData._id %>"><%= parsedData.comments.length %> comments</a></div>
    <p><br /><br />
    <form action="/comment/addComment/<%= parsedData._id %>" method="post">
      <div class="inputBox">
        <input type="text" name="comment" required="" />
        <label>Comment</label>
      </div>
        <input type="submit" value="Add Comment" />
    </form>
    </p>
    <div class="comment_list">
      <ul>
        <% parsedData.comments.map((comment)=> { %>
          <li><%= comment.body %>
            <p id="list_footer">―― <%= comment.by %> on <%= comment.comment_creation %><a id = "delete" href="/comment/delete?parent=<%= parsedData._id%>&comment=<%= comment._id %>">Delete</a></p>
          </li>
        <% })  %>
        </ul>
    </div>
  </div>

</body>

</html>