<div class="Container">
  <ol>
    <% parsedData.map((post)=> { %>
      <div>
        <li><a class= "anchor" href="<%= post.URL %>" target="_blank"> <%= post.title %> </a>
          <p id = "list_footer"><a class="navbar-brand" href="/vote/<%= post._id %>?voter=<%= userDisplayName%>"><%= post.vote.length %> points ✔ </a>  by <%= post.by %> <%= post.post_creation %> | <a href="/comment/view/<%= post._id %>"><%= post.comments.length %> comments</a></p>
        </li>
      </div>
      <% })  %>
  </ol>
</div>